ul {
    background-color: black;
    text-align: center;
    list-style-type: none;
    padding-left:  40px;
    display: inline;
    margin-left: -20px;
}
li{
    color: white;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    margin-top: -60px; 
}